.container_header {
  width: 100%;
  max-width: 1440px;
  background-color: #fff;
  color: #3c184e;
}

.container_text {
  box-sizing: border-box;
  width: 250px;
}
.container_text p:first-of-type {
  font-size: 35px;
  margin-bottom: 5px;
}

.container_text p:last-of-type {
  font-size: 14px;
  text-align: center;
  margin: 0;
}
.img_pata {
  width: 30px;
  margin-right: 5px;
}
