.container_marcas {
  box-sizing: border-box;
  width: 100%;
  padding: 120px 80px;
}

.box_marcas {
  max-width: 800px;
  margin: 0 auto;  
}

.box_marcas h3 {
  color: #3c184e;
  font-size: 2rem;
  text-align: center;
  margin: 0 0 45px 0;
}

.marcas ul {
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
  list-style: none;
}
