.banner {
  box-sizing: border-box;
  width: 100%;
  /* height: 100vh; */
  background-image: url('../../assets/img/banner-topo.jpg');
  background-size: cover;
  background-position: center center;
  padding: 120px 80px;
}

.banner_text {
  max-width: 1024px;
  border-radius: 10px;
  padding: 40px;
  margin-top: 70px;
  margin: 0 auto;
  background-color: #ffffffc4;
  box-shadow: 0 8px 32px #1f26875e;
  color: #3c184e;
  text-align: center;
}

.banner_text h1 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 40px;
}

.banner_text p {
  margin: 0 auto;
  width: 200px;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #3c184e;
}
.banner_text a {
  text-decoration: none;
  color: #fff;
}

.banner_text img {
  width: 20px;
}
